@media (orientation: landscape) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background: var(--background-main);
        color: white;
    }

    #header-page {
        width: var(--main-size-landscape);
        height: 20vh;

        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        #header-div {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 20vw;
            align-items: center;
            
            img {
                width: 25%;
                filter: invert(1);
            }

            .button-menu {
                :hover {
                        background: var(--button-hover-main);
                        cursor: pointer;
                    }

                button {
                    width: 5em;
                    aspect-ratio: 1;
                    border-radius: 40%;
                    border: none;
                    filter: opacity(1);
                    background: var(--button-main);
                    color: white;
                }
            }
        }
    }
}




@media (orientation: portrait) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background: var(--background-main);
        color: white;
    }

    #header-page {
        width: var(--main-size-portrait);
        padding-top: 5vh;
        #header-div {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            img {
                width: 50%;
                filter: invert(1);
            }   

            .button-menu {
                
                button {
                    width: 5em;
                    aspect-ratio: 1;
                    border-radius: 40%;
                    border: none;
                    filter: opacity(1);
                    background: var(--button-main);
                    color: white;
                }
            }
        }
    }
}