#header-page {
        width: var(--header-size-landscape);
        height: 10vh;

        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 10px var(--header-box-shadow);

        #header-div {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20%;
            align-items: center;
            
            img {
                width: 25%;
                filter: invert(1);
            }

            .button-menu {
                :hover {
                        background: var(--button-hover-main);
                        cursor: pointer;
                    }

                button {
                    width: 5em;
                    aspect-ratio: 1;
                    border-radius: 40%;
                    border: none;
                    filter: opacity(1);
                    background: var(--button-main);
                    color: white;
                }
            }
        }
    }