.carousel {
    width: 100%;
    margin-top: 5%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div {
        width: 25%;
        height: 100%;
        position: relative;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #left-img {
        width: 20%;
        height: 95%;
        margin: auto;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    #right-img {
        width: 20%;
        height: 95%;
        margin: auto;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;

        span {
            font-size: 10em;
            color: white;
        }
    }

    h4 {
        position: absolute;
        color: white;
        top: 90%;
        left: 0;
        right: 0;
        text-align: center;
        width: 20%;
        margin: auto;
        background: rgba(0, 0, 0, 0.5);
    }

    #carouselLeft {}

    #carouselRight {}
}