:root {
    --background-main : linear-gradient(rgb(252, 173, 186), rgb(255, 210, 218));
    --button-main : rgb(255, 128, 149);
    --header-box-shadow : rgba(255, 128, 149, 0.2);
    --button-hover-main : rgb(255, 76, 106);

    --main-size-landscape : 90vw;
    --header-size-landscape : 1920px;
    --main-size-portrait : 100vw;
}